{% extends 'base.html' %}
{% load static %}

{% block titlePage %} 123{% endblock %}

{% block headLinks %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %} 
<main> 
    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст 4 324re3io2ohrfnj3328fc7e
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>

    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>

    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст 4 324re3io2ohrfnj3328fc7e
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>

    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>

    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>

    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст 4 324re3io2ohrfnj3328fc7e
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>

    <a href="#" class="article">
        <div class="preview"></div>
        <div class="text-info">
            <div class="article-title">
                Крутой текст
            </div>
            <div class="article-author">
                Alex
            </div>
        </div>
    </a>
</main>
{% endblock %}  